/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

form:not(#AddToCartForm):not([isembed="true"]) {
  input:not([type='submit']) {
    @extend .form-control;

    padding: 0.25rem 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: theme-color(primary);
    // min-width: 300px;
    margin-bottom: 1rem;
  }
}

.klaviyo-form {
  input {
    margin-bottom: 0 !important;
  }

  button {
    @extend .btn;
    @extend .btn-primary;

    line-height: 2 !important;
    padding: 0.5rem 2rem !important;
  }
}

.errors {
  ul {
    list-style-type: none;
    font-size: 0.8rem;
    padding: 1rem;
    background: #E29088;
    color: white;
    text-align: center;

    a {
      color: white;
    }
  }
}
