.rip {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  background-color: white; //default
}

/**
* BOTTOM RIPS
*/ 

.rip-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;

  svg {
    fill: white;
    bottom: 0;
    position: absolute;
  }
}

/**
* TOP RIPS
*/ 

.rip-top {
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
  z-index: 1;

  svg {
    fill: white;
    top: 0;
    position: absolute;
  }
}

// .torn-element__top__02 {
//   mask: url(../assets/torn-element__top__02__mask.svg);
//   mask-repeat: no-repeat;
//   mask-size: contain;
// }
