{% section 'coffee-sweepstakes__page-header' %}

<section class="contact-form contact-section">
  <div class="contact-bkg-img">
    <div class="contact-bkg-img__rhs">
      <img src="{{ 'coffee-beans-lhs.png' | asset_img_url: 'large' }}" alt="">
    </div>
    <div class="contact-bkg-img__lhs">
      <img src="{{ 'coffee-beans-rhs.png' | asset_img_url: 'large' }}" alt="">
    </div>
  </div>

  <div class="container container--sm">
    <div class="rich-text pb-5 px-3">
        <h2 class="section-title title text-center has-coffee-bean">
          ENTER TODAY <br>
          <b>FOR YOUR CHANCE TO WIN!</b>
        </h2>
        <div class="rich-text__text content">
          We would love to hear what you think about Don Pablo Coffee You can call us at: (877) 436-8722 or fill in the contact form below
        </div>
    </div>
    <div class="klaviyo-form-TGVwV9"></div>
  </div>
</section>

{% section 'coffee-sweepstakes__rules' %}
