<div class="account__settings">
  <h4 class="account__subheaders">Profile</h4>
  <ul>
    <li><b>Name:</b><span> {{ customer.name }}</span></li>
    <li><b>Email:</b><span> {{ customer.email }}</span></li>
    <li><b>Password:</b><span> ***** </span></li>
  </ul>

  <a href="/account/login#recover">Edit</a>
</div>