{% comment %}
Optional values
newsletter_class: <string>
{% endcomment %}

{% comment %}Assign object as block or section{% endcomment %}
{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign id = object.id %}

{% if settings.form_button_style contains 'primary' %}
  {% assign field_input_size = settings.button_primary_padding %}
  {% assign field_input_style = 'primary-btn-style' %}
{% elsif settings.form_button_style contains 'secondary' %}
  {% assign field_input_size = settings.button_secondary_padding %}
  {% assign field_input_style = 'secondary-btn-style' %}
{% else %}
  {% assign field_input_size = settings.button_link_padding %}
{% endif %}

{% style %}

  #shopify-section-{{ id }} .newsletter-form__wrapper {
    {% if width == 'half' %}
      max-width: 100%;
    {% endif %}
  }

  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
<div class="newsletter-form__wrapper {{ newsletter_class }}">
  <form 
    id="email_signup" 
    action="//manage.kmail-lists.com/subscriptions/subscribe" 
    data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" 
    method="GET" 
    target="_blank" 
    novalidate="novalidate">
    <input type="hidden" name="g" value="TBvTdr">
    <input type="hidden" name="$fields" value="$consent">
    <input type="hidden" name="$list_fields" value="$consent">
    
    <div class="klaviyo_field_group email-field-group">  
      <label class="section-title p-0">subscribe To Our <br><b>Newsletter</b></label>
      <div class="d-md-flex" style="min-width: 0;">
        <input class="mb-md-0 border-0" type="email" value="" name="email" id="k_id_email" placeholder="Your email" />
        <input type="submit" class="klaviyo_submit_button" value="Subscribe"/>
      </div>
    </div>

    <div class="klaviyo_messages">
      <div class="success_message" style="display:none;"></div>
      <div class="error_message" style="display:none;"></div>
    </div>
  </form>
</div>

