.image-block {
  @include make-container;
  max-width: map-get($container-max-widths, xl);

  .responsive-image__wrapper {
    position: relative;

    img {
      position: relative;
      z-index: 1;
    }
  }

  .responsive-image__wrapper::after,
  .responsive-image__wrapper::before {
    content: "";
    display: none;
    width: 40%;
    height: 50%;
    max-height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.2;
    background-position: bottom;
    padding: 0 !important;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__inner {
    @include make-row;
  }

  &__single {
    @include make-col-ready;

    @include media-breakpoint-up(md) {
      @include make-col(8);
      @include make-col-offset(2);
    }

    .responsive-image__wrapper::after {
      left: 0;
      bottom: 0;
      transform: translate(-55%, 0);
      background-image: url('../assets/leaves-2.png');
    }

    .responsive-image__wrapper::before {
      right: 0;
      bottom: 0;
      transform: translate(60%, 0%);
      background-image: url('../assets/leaves-1.png');
    }
  }

  &__double {
    @include make-col-ready;
    @include make-col(6);

    @include media-breakpoint-up(md) {
      @include make-col(4);
    }

    &:nth-child(1) {
      @include media-breakpoint-up(md) {
        @include make-col-offset(2);
      }

      .responsive-image__wrapper::after {
        left: 0;
        bottom: 0;
        transform: translate(-65%, -50%);
        background-image: url('../assets/leaves-2.png');
      }
    }

    &:nth-child(2) {
      margin-top: 5rem;

      .responsive-image__wrapper::after {
        right: 0;
        bottom: 0;
        transform: translate(80%, 0%);
        background-image: url('../assets/leaves-1.png');
      }
    }
  }

  img {

  }
}
