/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "SubwayNovella";
  src: url("../assets/fonts/SubwayNovellaDEMO.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/SubwayNovellaDEMO.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/fonts/SubwayNovellaDEMO.otf") format("opentype"), /* Open Type Font */
    url("../assets/fonts/SubwayNovellaDEMO.svg") format("svg"), /* Legacy iOS */
    url("../assets/fonts/SubwayNovellaDEMO.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../assets/fonts/SubwayNovellaDEMO.woff") format("woff"), /* Modern Browsers */
    url("../assets/fonts/SubwayNovellaDEMO.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Abel-Regular";
  src: url("../assets/fonts/abel-regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/abel-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/fonts/abel-regular.otf") format("opentype"), /* Open Type Font */
    url("../assets/fonts/abel-regular.svg") format("svg"), /* Legacy iOS */
    url("../assets/fonts/abel-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../assets/fonts/abel-regular.woff") format("woff"), /* Modern Browsers */
    url("../assets/fonts/abel-regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FjordStamp";
  src: url("../assets/fonts/Fjord-Stamp.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/Fjord-Stamp.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/fonts/Fjord-Stamp.otf") format("opentype"), /* Open Type Font */
    url("../assets/fonts/Fjord-Stamp.svg") format("svg"), /* Legacy iOS */
    url("../assets/fonts/Fjord-Stamp.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../assets/fonts/Fjord-Stamp.woff") format("woff"), /* Modern Browsers */
    url("../assets/fonts/Fjord-Stamp.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}