<section class="account-section has-coffee-background">
  <div class="account">
    <div class="account__menu">
      <div class="account-customer-intro">Welcome, <br>{{ customer.first_name }}</div>
      <nav class="account-nav">
        <ul class="nav" id="myTab" role="tablist">
          <li><a id="accountOverview-tab" data-toggle="tab" href="#accountOverview" role="tab" aria-controls="home" aria-selected="true" class="active">Overview</a></li>
          <li><a id="accountOrders-tab" data-toggle="tab" href="#accountOrders" role="tab" aria-controls="home" aria-selected="true">My Orders</a></li>
          <li><a id="accountBillingShipping-tab" data-toggle="tab" href="#accountBillingShipping" role="tab" aria-controls="home" aria-selected="true">Billing & Shipping</a></li>
          <li><a id="accountSettings-tab" data-toggle="tab" href="#accountSettings" role="tab" aria-controls="home" aria-selected="true">Account Settings</a></li>
          <li><a href="/pages/rewards" target="_blank" rel="noreferrer noopener">Rewards</a></li>
          <li>{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
        </ul>
      </nav>
    </div>

    
    <div class="account__content tab-content">
      <section id="accountOverview" class="tab-pane show active">
        <div class="account__header">
          <h1 class="header-text">
            {{ 'customer.account.title' | t }}
          </h1>
        </div>
        {% include 'account-overview' %}
      </section>

      <section id="accountOrders" class="tab-pane">
        <div class="account__header">
          <h1 class="header-text">My Orders</h1>
        </div>
        {% include 'account-orders' %}
      </section>
      <section id="accountBillingShipping" class="tab-pane">
        <div class="account__header">
          <h1 class="header-text">Billing & Shipping</h1>
        </div>
        {% include 'account-shipping-billing' %}
      </section>
      <section id="accountSettings" class="tab-pane">
        <div class="account__header">
          <h1 class="header-text">Account Settings</h1>
        </div>
        {% include 'account-settings' %}
      </section>
    </div>
  </div>
</section>