<section id="accountBillingShipping" class="container shopify-section">
  <div class="account__header">
    <h1 class="header-text">Billing & Shipping</h1>
  </div>
  {% include 'account-shipping-billing' %}
</section>