{% assign type = "block" %}
{% if section.settings.show_section %}
  {% for block in section.blocks %}
    <div id="block-{{block.id}}" class="block">
    {% case block.type %}
      {% when 'rich_text' %}
        {% include 'include-rich-text' %}
      {% when 'video' %}
        {% include 'include-video' %}
      {% when 'text-with-image' %}
        {% include 'include-text-with-image' %}
    {% endcase %}
    </div>
  {% endfor %}
{% endif %}

{% schema %}
  {
    "name": "Story",
    "class": "about-us-section about-us-story coffee-background-sides",
    "tag": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_section",
        "label": "Display Section",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "rich_text",
        "name": "Rich Text",
        "settings": [
          {
            "type": "header",
            "content": "Heading"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Rich text"
          },
          {
            "type": "select",
            "id": "heading_alignment",
            "label": "Heading alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "justify",
                "label": "Justify"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left"
          },
          {
            "type": "header",
            "content": "Text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "justify",
                "label": "Justify"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "default": "wide",
            "options": [
              {
                "value": "narrow",
                "label": "Narrow"
              },
              {
                "value": "standard",
                "label": "Standard"
              },
              {
                "value": "wide",
                "label": "Wide"
              }
            ]
          },
          {
            "type": "header",
            "content": "Advanced"
          },
          {
            "type": "text",
            "id": "css_class",
            "label": "CSS Class"
          },
          {
            "type": "textarea",
            "id": "custom_css",
            "label": "Custom CSS"
          }
        ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "video_url",
            "id": "video_url",
            "accept": [
              "youtube",
              "vimeo"
            ],
            "label": "Video Url"
          }
        ]
      },
      {
        "type": "text-with-image",
        "name": "Text With Image",
        "settings": [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "justify",
                "label": "Justify"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "header",
            "content": "Advanced"
          },
          {
            "type": "text",
            "id": "css_class",
            "label": "CSS Class"
          },
          {
            "type": "textarea",
            "id": "custom_css",
            "label": "Custom CSS"
          }
        ]
      }
    ]
  }
{% endschema %}
