<div class="yotpo-widget-instance" data-yotpo-instance-id="71021"></div>
<div class="rip-bottom">
  {% assign rip_filename = "torn-element__bottom__01" | append: '.svg' %}
  {% include {{rip_filename}} %}
</div>

{% schema %}
{
  "name": "Yotpo Activity",
  "tag": "section",
  "class": "py-0",
  "settings": []
}
{% endschema %}