<div class="yotpo-widget-instance" data-yotpo-instance-id="71017"></div>

{% schema %}
{
  "name": "Yotpo Redeem",
  "tag": "section",
  "class": "py-0 has-coffee-background",
  "settings": []
}
{% endschema %}