<div class="yotpo-widget-instance" data-yotpo-instance-id="71020"></div>

{% schema %}
{
  "name": "Yotpo Earning",
  "tag": "section",
  "class": "py-0 coffee-background-sides",
  "settings": []
}
{% endschema %}