.collections {
  .collections-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .row {
      margin-bottom: -4rem;
    }
  }

  .page-header--collection {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;

    .section-title {
      color: white;
      padding: 0;
      text-align: center;
      width: 100%;
    }

    .section-title,
    .breadcrumb-navigation,
    .breadcrumb-navigation a {
      color: white;
    }
  }

  &__description {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      max-width: 800px;
      margin: auto;
      padding-bottom: map-get($spacers, 6);
    }

    h2 {
      @extend .has-coffee-bean;
      @extend .section-title;

      text-align: center;
    }
  }

  &__footer {
    background-image: url('../assets/coffeebeans.jpg');
    position: relative;
    background-size: cover;
    padding-top: 6rem;

    .rip-top {
      svg {
        fill: theme-color(grey);
      }
    }

    .section-title {
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      background: rgba(theme-color(primary), 0.89);

      @include media-breakpoint-up(md) {
        width: 90%;
        background: linear-gradient(90deg, rgba(theme-color(primary), 0.89) 51.25%, rgba(255, 255, 255, 0) 100%);
      }
    }

    > .container {
      position: relative;
      z-index: 1;
    }
  }
}